  <template>
  <div class="create-card elevation-4" style="width: 800px;">
    <div class="card-header">
      <small style="color: #06496f;opacity: 0.5;">{{section.name}}</small>
      <div class="row">
        <div class="col-md-12 m-0 pt-0 pb-0 pr-0">
        <input type="text" class="form-control form-control-sm" v-bind:class="{'is-invalid' : hasError}" v-model="section.card_form.name">
        </div>
        <!--<div class="col-md-2 m-0 text-right">
          <a href="javascript:void(0)"  @click="linkClient()"><i class="fas fa-link"></i></a>
        </div>-->
      </div>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 mb-0 mt-0 pt-0">
          <small class="card-lables">Client</small>
          <multiselect v-bind:class="{'is-invalid' : hasError}" @input="updateClient(section.card_form.client_name)" v-model="section.card_form.client_name" :custom-label="customLabel" placeholder="Select one" :options="office_clients" :searchable="true" :allow-empty="true" :multiple="false" :close-on-select="true">
          </multiselect>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-0 mt-0 pt-0">
          <small>Insurer</small>
          <input type="text" class="form-control form-control-sm" v-model="section.card_form.insurer" />
        </div>
        <div class="col-md-4 mb-0 mt-0 pt-0">
          <small class="card-lables">Policy</small>
          <input type="text" class="form-control form-control-sm" v-model="section.card_form.policy" />
        </div>
        <div class="col-md-4 mb-0 mt-0 pt-0">
          <small class="card-lables">Dependency</small>
          <select class="form-control form-control-sm" v-model="section.card_form.dependency_id">
            <option value="" disabled>Select Card</option>
            <option v-for="card in cards_drop_down" :value="card.id">{{card.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-0 mt-0 pt-0">
          <small class="card-lables"><i class="fas fa-user"></i> Advisor on record</small>
          <select  class="form-control form-control-sm" v-bind:class="{'is-invalid' : hasError}" v-model="section.card_form.assignee_name">
            <option value="" disabled>Select advisor on record</option>
            <option v-for="user in office_advisors" :value="user">{{user}}</option>
          </select>
        </div>
        <div class="col-md-8 mb-0 mt-0 pt-0">
          <small class="card-lables">Assign Team members</small>
          <multiselect v-model="section.card_form.team_names" :custom-label="customLabel" placeholder="Select one" :options="office_users" :searchable="false" :allow-empty="true" :multiple="true" :close-on-select="true">
          </multiselect>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-0 mt-0 pt-0">
          <small class="card-lables"><i class="fas fa-user"></i> Upfront Revenue</small>
          <input type="number" class="form-control form-control-sm" v-model="section.card_form.upfront_revenue" />
        </div>
        <div class="col-md-6 mb-0 mt-0 pt-0">
          <small class="card-lables">Ongoing Revenue</small>
          <input type="number" class="form-control form-control-sm" v-model="section.card_form.ongoing_revenue" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-0 mt-0 pt-0">
          <small class="card-lables"><span class="text-danger"><i class="fas fa-calendar-alt"></i></span> Due Date</small>
          <DueDate v-bind:class="{'is-invalid' : hasError}" :open.sync="section.card_form.open" @pick="handleChange" v-model="section.card_form.deadline" type="date"></DueDate>
        </div>
        <div class="col-md-4 mb-0 mt-0 pt-0">
          <small class="card-lables">Status</small>
          <select class="form-control form-control-sm" v-bind:class="{'is-invalid' : hasError}" v-model="section.card_form.progress_status_id">
            <option value="" disabled>Select Status</option>
            <option v-for="status in progress_status" :value="status.id">{{status.name}}</option>
          </select>
        </div>
        <div class="col-md-4 mb-0 mt-0 pt-0">
          <small class="card-lables">Priority</small>
          <select class="form-control form-control-sm" v-bind:class="{'is-invalid' : hasError}" v-model="section.card_form.priority_status_id">
            <option value="" disabled>Select Priority</option>
            <option v-for="status in priority_status" :value="status.id" v-bind:style="{color: status.fcolor}"><span>{{status.name}}</span></option>
          </select>
        </div>
      </div>
      <div class="row" style="border-bottom: 2px solid #b5c9d4;margin-bottom:1rem;">
        <div class="col-md-12 mb-0 mt-0 pt-0">
          <small class="card-lables">Description</small>
          <textarea rows="2" v-model="section.card_form.description" class="form-control"></textarea>
        </div>
      </div>
      <p><strong>Tasks</strong><a href="javascript:void(0)" class="text-primary float-right" @click="addTask"><i class="fa fa-plus"></i> Add task</a></p>
      <div class="col template-tasks">
      <div style="position:relative;border-bottom:1px solid #ecf1f4;padding-bottom:1rem;" v-for="(taskItems, task_item_index) in tasks">
        <div class="row">
        <div class="col-md-10 pt-0 pb-0">
          <input type="text" class="form-control form-control-sm task-name" placeholder="Add task name" v-model="taskItems.name">
        </div>
        <div class="col-md-2 text-right pt-0 pb-0">
          <a href="#"><i class="fas fa-trash"></i></a>
        </div>
      </div>
        <span class="float-left">
          <small @click="assignTask(task_item_index)" v-if="taskItems.selected_assignee === '' || taskItems.assignee_name === ''"><i class="fas fa-user"></i> + Assign to a person</small>
          <small @click="assignTask(task_item_index)" v-if="taskItems.selected_assignee !== '' && taskItems.assignee_name !== ''"><i class="fas fa-user"></i>  {{taskItems.selected_assignee !== '' && taskItems.selected_assignee !== null ? taskItems.selected_assignee : taskItems.assignee_name}}</small>
          <div v-show="taskItems.assign_task" class="assign-person elevation-3">
            <div class="row pr-0 pb-0 pt-0 m-0">
              <div class="col-md-9 pl-0 pt-0 pb-0">
              <select v-model="taskItems.assignee" class="form-control form-control-sm" @change="taskUserAssigned(task_item_index)">
                <option disabled>Select User</option>
                <option v-for="user in office_users" :value="user">{{user}}</option>
              </select>
              </div>
            </div>
        </div>
        </span>
        <span class="float-right">
          <small @click="addDeadline(task_item_index)" v-if="taskItems.selected_duedate === ''"><span class="text-danger"><i class="fas fa-calendar-alt"></i></span> + Add deadline</small>
          <small @click="addDeadline(task_item_index)" v-if="taskItems.selected_duedate !== ''"><span class="text-danger"><i class="fas fa-calendar-alt"></i></span> {{taskItems.selected_duedate !== '' && taskItems.selected_duedate !== null ? taskItems.selected_duedate : taskItems.due_date}}</small>
          <div class="assign-deadline elevation-3" v-show="taskItems.add_deadline">
            <DueDate v-model="taskItems.date" :open.sync="taskItems.open6" @pick="handleChange2(task_item_index)" type="date"></DueDate>
          </div>
          <small @click="addSubTasks(task_item_index)" class="ml-1">
            <span v-if="taskItems.subtasks && taskItems.subtasks.length === 1"><span class="text-info"><i class="fas fa-network-wired"></i></span> 0 subtasks</span>
            <span v-if="taskItems.subtasks && taskItems.subtasks.length > 1"><span class="text-info"><i class="fas fa-network-wired"></i></span> {{ taskItems.subtasks ? taskItems.subtasks.length - 1 : 0}} {{ taskItems.subtasks && taskItems.subtasks.length !== 1 ? "subtasks" : "subtask" }}</span>
          </small>
        </span>
        <div class="clearfix"></div>
        <div class="row" v-show="taskItems.add_sub_task">
          <div class="row subtask" v-for="(subtaskItems, subtask_item_index) in taskItems.subtasks">

              <div class="col-md-10 pt-0 pb-0">
                <input type="text" autocomplete="off" class="form-control form-control-sm task-name" placeholder="Add subtask name" v-model="subtaskItems.name">
              </div>
              <div class="col-md-2 text-right pt-0 pb-0">
                <a href="#" class="text-danger mr-1" @click="addSubtaskDeadline(task_item_index,subtask_item_index)"><i class="far fa-calendar-alt"></i></a>
                <div class="assign-deadline2 elevation-3" v-show="subtaskItems.add_deadline">
                  <DueDate v-model="subtaskItems.date" :open.sync="subtaskItems.open14" @pick="handleChange3(task_item_index,subtask_item_index)" type="timestamp"></DueDate>
                </div>
                <a href="#" class="delete-subtask"><i class="fas fa-trash"></i></a>
              </div>

          </div>
          <div class="addsubtask">
            <a href="javascript:void(0)" @click="addSubTask(task_item_index)">+ Add Subtask</a>
          </div>
          <!--<small><span class="text-info"><i class="fas fa-network-wired"></i></span></small>
          <input type="text" class="form-control form-control-sm task-name" placeholder="Add subtask name" v-model="taskItems.sub_task" v-on:keyup.enter="addSubTask" @blur="addSubTask">-->
        </div>
      </div>
      </div>

    </div>
    <div class="card-footer clearfix">
      <button class="btn btn-sm btn-outline-info" @click="closeCreateCard">Cancel</button>
      <button type="button" @click="saveTask(section)" class="btn btn-sm btn-success float-right">Save Case</button>
    </div>

    <div class="modal-mask" v-show="link_client" transition="modal" aria-hidden="true" role="dialog" style="position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);">
      <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
          <div class="modal-header">

            <span class="modal-title">Link Client</span>
            <button type="button" class="close" @click="closeLinkClient()">&times;</button>
          </div>
          <div class="modal-body link-client-modal" style="overflow:inherit;">
            <multiselect v-model="section.card_form.client_name" :custom-label="customLabel" placeholder="Select one" :options="office_clients" :searchable="true" :allow-empty="true" :multiple="false" :close-on-select="true">
            </multiselect>
            <button class="btn btn-sm btn-default float-right ml-1" @click="closeLinkClient()">Cancel</button>
            <button class="btn btn-sm btn-primary float-right" @click="saveLinkClient()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
  name: "CreateCard.vue",
  props: ["section"],
  components:{
    "DueDate": DatePicker,
    "multiselect": Multiselect
  },
  watch: {
    'section': function (val, oldVal) {
      this.tasks = val.tasks;
    }
  },
  data: function (){
    return {
      hasError: false,
      tasks:[],
      card_form: {
        name: null,
        insurer: '',
        policy: '',
        dependency_id: '',
        assignee_id: "",
        assignee_name: "",
        team_ids: [],
        team_names: "",
        client_name: "",
        due_date: '',
        priority_status_id: "",
        progress_status_id: "",
        description: '',
        updateFlag: 0,
        updateClient: 0,
        ongoing_revenue: '',
        upfront_revenue: '',
        open:false
      },
      card_name: '',
      sub_task: "",
      link_client: false,
      closedLinkClient: false,
      add_task: false,
      office_users: [],
      office_advisors: [],
      office_clients: [],
      assign_task: false,
      add_sub_task: false,
      deadline: "",
      add_deadline: false,
      team_ids: "",
      priority_status: [
        {id: '1', name: 'High Priority', fcolor: '#FF0000'},
        {id: '2', name: 'Medium Priority', fcolor: '#00FF00'},
        {id: '3', name: 'Low Priority', fcolor: '#0000FF'},
      ],
      progress_status: [
        {id: '1', name: 'Active'},
        {id: '2', name: 'InActive'},],
      card_tasks: [],
      cards_drop_down:[]
    }
  },
  mounted() {
    this.getOfficeUsers();
    this.getOfficeClients();
    this.getOfficeAdvisors();
    this.getCardStatus();
    this.tasks = [];
    this.getCardsDropDown();
  },
  methods: {
    getCardsDropDown(){
      axios.get('/card/get-cards')
              .then(response => {
                /*console.log('card_drop_down', response.data.cards);*/
                this.cards_drop_down = response.data.cards;
                this.cards_drop_down.$forceUpdate();
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    saveLinkClient(){
      this.link_client = false;
    },
    closeLinkClient(){
      this.closedLinkClient = true;
      this.link_client = false;
    },
    linkClient(){
      this.link_client = true;
    },
    taskUserAssigned(index){
      this.tasks[index].selected_assignee = this.tasks[index].assignee;
      this.tasks[index].assignee_name = this.tasks[index].assignee;
      this.tasks[index].assign_task = !this.tasks[index].assign_task;
    },
    handleChange(value, type) {
        this.section.card_form.open = false;
    },
    handleChange2(index) {
      const d = new Date(this.tasks[index].date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;
      this.tasks[index].selected_duedate = t;

      this.tasks[index].add_deadline = false;
      this.tasks[index].open6 = false;
    },
    handleChange3(index,subindex) {
      const d = new Date(this.tasks[index].subtasks[subindex].date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      /*this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;*/
      this.tasks[index].subtasks[subindex].selected_duedate = t;
      this.tasks[index].subtasks[subindex].add_deadline = false;

      this.tasks[index].subtasks[subindex].open14 = false;
    },
    customLabel (option) {
      return `${option}`
    },
    addTask(){
      let i = (this.tasks.length);

      if (!this.tasks) {
        //this.activities[index].rules = {rule_value:'',rule_process:'',rule_step:'',processs:'',stepss:''};
        []
      }

      this.tasks.push(
              {
                name:"",
                assignee_id:null,
                subtasks:[{
                  name:"",
                  selected_duedate: "",
                  add_deadline: false,
                }],
                date:null,
                assign_task:false,
                add_deadline:false,
                selected_assignee:'',
                selected_duedate:'',
                open6: false,
                add_sub_task: false
              }
      );
      /*this.add_task = true;*/
    },
    getOfficeUsers(){
      axios.get('/task')
              .then(response => {
                this.office_users = response.data.office_users;
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getOfficeAdvisors(){
      axios.get('/task/advisor')
              .then(response => {
                this.office_advisors = response.data.office_users;
                this.office_advisors.$forceUpdate();

              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getOfficeClients(){
      axios.get('/card/get-office-clients')
              .then(response => {
                this.office_clients = response.data.office_clients;
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getCardStatus(){
      axios.get('card/status')
              .then(response => {
                this.priority_status = response.data.priority_status;
                this.progress_status = response.data.progress_status;
              })
              .catch(error => {
                /*console.log(error)*/
              });
    },
    assignTask(index){
      this.tasks[index].add_deadline = false;
      this.tasks[index].add_sub_tasks = false;
      this.tasks[index].assign_task = !this.tasks[index].assign_task;
    },
    addSubTasks(index){
      this.tasks[index].assign_task = false;
      this.tasks[index].add_deadline = false;
      this.tasks[index].add_sub_task = !this.tasks[index].add_sub_task;
    },
    addSubTask(index){

        this.tasks[index].subtasks.push({
          name:"",
          open14:false,
          selected_duedate:'',
          add_deadline: false,
        });
    },
    updateClient(clientName){
      if(this.card_form.updateClient === 0){
        this.card_form.updateClient = 1;
      } else {
        this.card_form.updateClient = 0;
      }
      this.card_form.client_name = clientName;
      this.addSectionFlag = false;
    },
    taskDeadlineSelected(index){

      const t = new Date(this.tasks[index].date).toISOString().slice(0, 10);

      this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;
      this.tasks[index].selected_duedate = t;
      this.tasks[index].add_deadline = !this.tasks[index].add_deadline;
    },
    addDeadline(index){

      this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;
      this.tasks[index].add_deadline = !this.tasks[index].add_deadline;
    },
    subtaskDeadlineSelected(index,subindex){

      const t = new Date(this.tasks[index].subtasks[subindex].date).toISOString().slice(0, 10);

      /*this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;*/
      this.tasks[index].subtasks[subindex].selected_duedate = t;
      this.tasks[index].subtasks[subindex].add_deadline = !this.tasks[index].subtasks[subindex].add_deadline;
    },
    addSubtaskDeadline(index,subindex){
      this.tasks[index].subtasks[subindex].add_deadline = !this.tasks[index].subtasks[subindex].add_deadline;
    },
    closeCreateCard(){
      this.$emit('close-me')
    },
    saveTask(section){
      let err = 0;
      if (this.section.card_form.name.length === 0){
        err++;
      }

      if (this.section.card_form.assignee_name.length === 0){
        err++;
      }

      if (this.section.card_form.deadline.length === 0){
        err++;
      }

      if (this.section.card_form.progress_status_id.length === 0){
        err++;
      }

      if (this.section.card_form.priority_status_id.length === 0){
        err++;
      }

      if(this.tasks.length === 0) {

        for (var i = 0; i < this.tasks.length; i++) {

          /*if (this.tasks[i].assignee_name.length === 0){
          alert("select a valid user for task")
          return false;
        }*/

          if (this.tasks[i].name === "Add task name") {
            alert("Task name is required")
            return false;
          }
          /*if(this.tasks[i].assignee_name === null){
          alert("Please Assign a user to this task")
          return false;
        }
        if(this.tasks[i].date === null){
          /!*TODO: Due date is greater than today*!/
          alert("Please select a task due date")
          return false;
        }*/

          this.tasks[i]["section_id"] = this.section.section_id;

        }
      }

      if(err > 0){
        this.hasError = true;
        return false;
      } else {
        this.hasError = false;
      }
        axios.post('/card', {
          section: section,
          task: this.tasks,
          card_form: section.card_form,
          card_name: section.card_form.name,
          client_name: section.card_form.client_name
        })
                .then(response => {
                  this.$emit('new-task', response.data.Card);

                  toastr.success('<strong>Success!</strong> Card was successfully created.');

                  toastr.options.timeOut = 1000;

                  this.$emit('close-me')
                })
                .catch(function (error) {
                  /*console.log(error.response);*/
                });
      }


  }
}
</script>

<style scoped>
  .create-card{
    position: absolute;
    right: 0;
    top: 4.35rem;
    z-index: 10;
    background: #FFFFFF;
    height: calc(100vh - calc(70px + 3rem));
  }
  .task-name{
    border: none;
    border-left: 3px solid #06496f;
    font-weight: 900;
    color: #06496f;
  }
  .task-name:focus{
    border: 1px solid #b5c9d4;
    box-shadow: unset !important;
  }
  .position-relative>small{
    cursor: pointer;
  }
  select{
    color: #06496f;
  }
  deadline{
    width: 100%;
  }


  .card-body{
    height:calc(100% - 11rem);
    overflow: auto;
  }

  .subtask{
    width:100%;
    margin-left:1.5rem;
  }
  .addsubtask{
    width:100%;
    text-align: right;
    font-size: 0.75rem;
  }
</style>